@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #1c1c24;
  --bg-secondary: #13131a;
  --bg-tertiary: #2c2f32;
  --text-primary: #ffffff;
  --text-secondary: #808191;
  --text-tertiary: #b2b3bd;
  --border-color: #2c2f32;
}

html:not(.dark) {
  --bg-primary: #ffffff;
  --bg-secondary: #f3f4f6;
  --bg-tertiary: #e5e7eb;
  --text-primary: #1f2937;
  --text-secondary: #6b7280;
  --text-tertiary: #4b5563;
  --border-color: #d1d5db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  font-family: "Epilogue", sans-serif;
  min-height: 100vh;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.linear-gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--bg-tertiary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-secondary);
}
